# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

# This workflow has been tweaked to only build and test the project on every branches push and pull request. The version of the JDK has been changed to 21.

name: Maven Build and Test

on:
  push:
    branches:
      - '**'  
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn -B clean package --file decide/pom.xml

    - name: Run tests
      run: mvn -B test --file decide/pom.xml
